@font-face{
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'SN-Pro';
    src: url('./assets/fonts/SNPro-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #EAA915;
    --secondary-color: #1556EA;
    --basic-padding: 15px;
    --font-medium: clamp(1rem, 2.5vh, 1.5rem);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-content{
    min-height: calc(100vh - 100px);
}

/*CONTENT CONTAINER*/
.content-container{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-auto-flow: columns;
}

/*PROJECT SECTION*/
.project-section{
    background-color: var(--primary-color);
    padding: var(--basic-padding);
}


/*TODO SECTION*/
.todo-section{
    background-color: var(--secondary-color);
    padding: var(--basic-padding);
    position: relative;
}

.todo-section-legend{
    text-align: center;
}

/*TODO FORM*/
.modal-backdrop{
    will-change: opacity;
    animation: fadeIn 0.2s ease;
    /* position: 'fixed',
    top: '0', left: '0',
    width: '100vw', height: '100vh',
    background: 'rgba(100, 100, 100,0.5)',
    backdropFilter: 'blur(4px)',
    zIndex: '999', */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(100, 100, 100, 0.5);
    z-index: 999;
    will-change: transform, opacity;
}

@keyframes fadeIn{from {opacity: 0;}}

#todo-form, #project-form{
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 50vw;
    height: 50vh;

    background-color: #eaaa15e4;
    color: white;
    border: 1px solid black;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
    will-change: transform;
}

#project-form{
    height: 20vh;
}

#todo-form > h2, #project-form > h2{
    text-align: center;
}

#description{
    height: 25rem;
    width: 100%;
}

input, #description{
    padding: 10px;
}

.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 5px;
}

.form-buttons > button{
    border-radius: 8px;
    border: 0px;
    padding: 8px;
    width: 15vw;

    /* transition: transform 0.2s ease; */
}

.form-buttons > button:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
}

/*TODO BUTTON*/
#new-todo-button{
    position: absolute;
    top: 93%;
    left: 50%;

    font-size: var(--font-medium);
    border-radius: 8px;
    border: 0px;
    padding: 8px;
    background-color: var(--primary-color);
    color: white;
    transition: transform 0.2s ease;
}

#new-todo-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* TODO CARDS*/
.todo-card{
    min-height: 15vh;
    padding: 10px;
    margin-top: 35px;
    margin-left: 10px;
    width: 40vw;
    height: 15vh;
    background-color: white;
    border-radius: 8px;

    transition: transform 0.2s ease;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.todo-card:hover{
    transform: scale(1.02);
}

.todo-card-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.todo-card-buttons{
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    padding: 5px;
    border-radius: 8px;
    border: 0.2px solid black;
    width: 3.5rem;
    height: 2.5rem;
    transition: transform 0.2s ease;
}

.todo-card-buttons:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.todo-edit-button{
    background-color: rgb(108, 222, 46);
}

.todo-delete-button{
    background-color: red;
}

/*PROJECTS*/
.project-section{
    position: relative;
}

#new-project-button{
    position: absolute;
    top: 93%;
    left: 20%;

    font-size: var(--font-medium);
    border-radius: 8px;
    border: 0px;
    padding: 8px;
    background-color: var(--secondary-color);
    color: white;
    transition: transform 0.2s ease;
}

#new-project-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.project-list{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    margin-top: 35px;
    gap: 15px;
}

.project-card{
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.project-card:hover{
    cursor: pointer;
}